<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Digit Recognizer Tester</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="main.js"></script> -->
</head>

<body>
    <header class="navbar">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
				Browse <input type="file" name="image">
			</span>
            <input type="submit" value="Upload you image" class="btn btn-primary">
    </header>
    <!-- <canvas id="canvas">
		canvas is working/not working
	</canvas> -->
</body>

</html>